body{
  margin: 0;
  padding: 0;
  background: #eaeaea no-repeat center top fixed;
}

.HeadSide {
  background: #e00;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 100;
}

.MiddlePart {
  background: #123456;
  position: relative;
  margin-top: 200px;
}

.Content {
  background-color: #fc0;
}

.LeftSidebar {
  background-color: #00e;
  min-width: 300px;
  max-width: 300px;
  float: left;
  bottom: 0px;
  top: 200px;
  display: flex;
  position: fixed;
}

.RightSidebar {
  background: #fc0;
}

.BottomSide {
  background: #050;
  height: 100px;
}

.border-template-content{
  margin-left: 300px;
}
