body{
  margin: 0;
  padding: 0;
  background: #eaeaea no-repeat center top fixed;
}

.HeadSide {
  width: 100%;
  height: 10%;
  background: #e00;
  padding: 5px;
  padding-right: 20px;
  border: solid 1px black;
  float: left;
}
.Content {
  width: 79%;
  background: #0e0;
  padding: 0px;
  border: solid 1px black;
  float: left;
  position: relative;
}
.LeftSidebar {
  min-width: 300px;
  width: 25%;
  height: 100%;
  background: #00e;
  padding: 0px;
  border: solid 1px black;
  float: left;
  position: relative;

}
.RightSidebar {
  width: 10%;
  height: 100%;
  background: #fc0;
  padding: 0px;
  border: solid 1px black;
  float: left;
  position: relative;
}

DIV.LegendItem
{
  display:inline-block;
  margin-right:20px;
  width: 20px;
  height: 20px;
}
SPAN.LegendText
{
  display:inline-block;
  margin-right:20px;
}